
@charset "utf-8";
  
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
  
// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$success: #45c550;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$white: #FFFFFF;


//my palette of variables for change the derivated variables of Bulma 
$color-1: #e0cffc;
$color-2: #c29ffa;
$color-3: #a370f7;
$color-4: #8540f5;
$color-5: #6610f2;
$color-6: #520dc2;
$color-7: #3d0a91;
$color-8: #290661;
$color-9: #140330;

//sort of variables of Bulma
$primary: $color-5;
$info: #004080;
$background: $color-8;
$success: #408000;
$danger: #800000;
$warning: #808000;
$grey-dark: #807080;
$grey-light: #EFDFEF;
$link: #008080;
$text: $color-1;
$text-strong:$color-1;
$scheme-main:$color-9; //backgrounds como de las cards
$shade:$beige-light;
$input-border-color: $color-1;

$border-light:$color-8;

$message-background-color:$color-6;
$message-body-color:$color-6;



// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;


//div{ background-color: $success};
$control-border-width: 2px;

$input-shadow: none;

// Import only what you need from Bulma

@import "../node_modules//bulma/bulma.sass"
